<nav class="navbar navbar-default navbar-fixed-top menu-base menu-brand-inverted">
  <div class="container">
    <div class="navbar-header"> <a class="navbar-toggle collapsed nav-brand-toggle" data-toggle="collapse" data-target="#main-menu-collapse" aria-expanded="false"> <i class="fa fa-bars fa-2x"></i> </a> <a class="navbar-brand logo" href="{{site.url}}/"><img class="img-responsive logo-img" src="//assetstdnext.s3.amazonaws.com/img/tdnext-division-white-logo@2x.png" alt="TD next logo"></a> </div>
    <div class="collapse navbar-collapse" id="main-menu-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a target=_blank href="https://twitter.com/td_next"><i class="fa fa-twitter"></i> td_next</a></li>
      </ul>
    </div>
  </div>
</nav>
